#exec-1 div {
  background-color: yellow;
  border: 4px solid black;
  color: red;
  font-size: 30px;
  height: 30px;
  margin: 10px;
  padding: 20px;
  width: 180px;
}

#exec-2 {
  width: 290px;
}

.ex-2 {
  background-color: green;
  margin: 10px;
  padding: 20px;
}

.ex-2 div {
  background-color: yellow;
  border: 4px solid black;
  color: blue;
  font-size: 30px;
  height: 30px;
  padding: 20px;
  width: 180px;
}

#exec-3 {
  width: 290px;
}

.ex-3 {
  background-color: green;
  margin: 10px;
  padding: 20px;
}

.ex-3 div {
  background-color: aqua;
  border: 4px solid black;
  color: red;
  font-size: 30px;
  height: 30px;
  padding: 20px;
  width: 180px;
}

#exec-4 h1, #exec-4 h2 {
  color: green;
}

#red {
  color: red;
}

#blueit {
  color: blue;
  font-style: italic;
}

#codetype {
  font-family: monospace;
}
blue
sandybrown
